@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table {
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
  border-bottom-width: 1px;
}

th,
td {
  border: 1px solid white;
  border-collapse: separate;
  border-spacing: 2px;
  height: 20px;
}

.selectth {
  display: flex;
  align-items: center;
  border-collapse: separate;
  background-color: transparent;
  border-spacing: 2px;
  height: max-content;
  width: 100%;
}

